version: '3.8'

services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: jspot-app
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - db
    ports:
      - "9000:9000" # php-fpm用。後でnginxも入れる場合は調整する

  db:
    image: mysql:8.0
    container_name: jspot-db
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: jspot
      MYSQL_USER: jspot
      MYSQL_PASSWORD: jspotpass
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: jspot-frontend
    volumes:
      - ./frontend:/app
    working_dir: /app
    command: yarn dev
    ports:
      - "3000:3000"
    depends_on:
      - app

volumes:
  db_data:
